.login-page-bg-container{
    display: flex;
    flex-direction: row;
    background-color: #f5f7fa;
    min-height: 100vh;
    }
    @media screen and (max-width : 992px) {
        .login-page-bg-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            align-items: center;
        }
    }
    .login-page-left-pic{   
        height: 100vh;
    }
    @media screen and (max-width: 992px) {
        .login-page-left-pic {
         display: none;
        }
      }
    .login-left-pic-mobile-view{
        display: none;
    }
    @media screen and (max-width:992px) {
        .login-left-pic-mobile-view{
            display: block;
            height: 216px;
            width: 216px;
            margin-top: 32px;
            border-radius: 0px;
        }
    }
    
      
    .login-page-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    }
    @media screen and (max-width:992px){
        .login-page-form-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
    }
    .login-form-container{
        max-height: 600px;
        width: 100%;
        max-width: 350px;
        top: 270px;
        border-radius: 0px;
        padding: 64px 48px 64px 48px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    @media screen and (max-width:992px){
        .login-form-container{
            max-height: 524px;
            width: 100%;
            max-width: 350px;
            top: 270px;
            box-shadow: none;
            border-radius: 0px;
            padding: 64px 48px 64px 48px;
            background-color: white;
            border-radius: 10px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .login-page-bookhub-logo{
        height: 100.99907684326172px;
        width: 101px;
        border-radius: 0px;
        
    
    }
    .login-page-logo-heading-content{
    font-family: "Almendra SC";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #0284C7;
    
    }
    .login-form-logo-container{
        display: flex;
        flex-direction: row;
    }
    .login-page-input-container{
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        width: 100%;
    }
    .login-page-input-label{
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #183B56;
    }
    .login-page-password-input-field{
        height: 56px;
    border-radius: 8px;
    border: 1px solid #C3CAD9;
    margin-top: 8px;
    padding: 18px 16px 19px 20px;
    color: #183B56;
    }
    .login-form-login-button{
        width: 100%;
    height: 56px;
    margin-top: 32px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #0284C7;
    
    }
    .error-msg{
        align-self: start;
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 0px;
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 16px;
        color: #ff0b37;
    }
    .sign-up-button{
        height: 20px;
        width: 100px;
        background-color: transparent;
        border: none;
        color: blue;
        margin-left: auto;
        text-align: right;
        margin-top: 20px;
        cursor: pointer;
        text-decoration: underline;
    }
    .link-sign-up{
        color: blue;
    }